Repository vishaltak/gitlab-development-kit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-gitpod-workspace-image, verify-asdf-combine

.gitlab/ci/build.gitlab-ci.yml:

release-image:
  extends:
    - .rules:code-changes
    - .docker:use-docker-in-docker
  image: docker:git
  stage: build
  before_script:
    - apk add --no-cache jq curl
  script:
    - ./support/docker ci-login
    - ./support/docker ci-build-if-necessary
  after_script:
    - ./support/docker ci-logout

build-gitpod-workspace-image:
  stage: build
  extends:
    - .docker:use-docker-in-docker
  image: docker:git
  before_script:
    - apk add --no-cache jq curl
  script:
    - ./support/docker ci-login
    - ./support/gitpod/docker-build
  after_script:
    - ./support/docker ci-logout
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_MERGE_REQUEST_IID'
      changes:
        - "support/gitpod/**/*"

.gitlab/ci/test.gitlab-ci.yml:

include:
  - template: Jobs/Code-Quality.gitlab-ci.yml
  - template: Security/Container-Scanning.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - remote: 'https://gitlab.com/gitlab-org/frontend/untamper-my-lockfile/-/raw/main/.gitlab-ci-template.yml'
  - project: 'gitlab-org/quality/pipeline-common'
    file:
      - '/ci/danger-review.yml'

docs-lint:
  extends: .rules:docs-changes
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.15-vale-2.15.0-markdownlint-0.31.0
  stage: test
  needs: []
  script:
    - make lint

rubocop:
  extends: .rules:code-changes
  image: ruby:2.7
  stage: test
  needs: []
  variables:
    BUNDLE_INSTALL_ARGS: "--path vendor/bundle"
  script:
    - make rubocop

rspec:
  extends: .rules:code-changes
  image: ruby:2.7
  stage: test
  needs: []
  variables:
    RSPEC_ARGS: "--format doc --format RspecJunitFormatter --out rspec.xml"
    BUNDLE_INSTALL_ARGS: "--path vendor/bundle"
  script:
    - pwd > .gdk-install-root
    - make rspec
  cache:
    key: "ruby-2.7-bundle"
    paths:
      - ./vendor/bundle
  artifacts:
    paths:
      - rspec.xml
    reports:
      junit: rspec.xml
      cobertura: coverage/coverage.xml

code_quality:
  extends:
    - .docker:use-docker-in-docker
  rules: !reference ['.rules:code-changes', rules]

container_scanning:
  before_script:
    - export DOCKER_IMAGE=${DEFAULT_IMAGE}
  needs:
    - release-image
  rules: !reference ['.rules:code-changes', rules]

gemnasium-dependency_scanning:
  rules: !reference ['.rules:code-changes', rules]

shellcheck:
  extends: .rules:code-changes
  stage: test
  needs: []
  image: ruby:2.7
  script:
    - apt-get update
    - make shellcheck

checkmake:
  stage: test
  needs: []
  extends: .rules:code-changes
  image: registry.gitlab.com/gitlab-org/gitlab-development-kit/asdf-bootstrapped-verify:main
  script:
    - make checkmake

yard:
  stage: test
  needs: []
  image: ruby:2.7
  script:
    - bundle install --jobs 4 --path vendor/bundle
    - bundle exec yardoc
  cache:
    key: "ruby-2.7-bundle"
    paths:
      - ./vendor/bundle
  artifacts:
    expire_in: 1 week
    paths:
      - yard/*

verify-gdk-example-yml:
  extends: .rules:code-changes
  image: ruby:2.7
  stage: test
  needs: []
  script:
    - make verify-gdk-example-yml

verify-asdf-combine:
  extends: .rules:code-changes
  image: ruby:2.7
  stage: test
  needs: []
  script:
    - make verify-asdf-combine
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_MERGE_REQUEST_IID'
      changes:
        - ".tool-versions*"
        - "support/asdf-combine"
        - "support/ci/verify-asdf-combine"

verify-makefile-config:
  extends: .rules:code-changes
  image: ruby:2.7
  stage: test
  needs: []
  script:
    - support/ci/verify-makefile-config

Update command for setting environment variable
  doc/howto/gitpod.md
Due: none

Minor typos
  doc/howto/gitpod.md
Due: none

Remove docker-in-docker extension from Code Quality job
  .gitlab/ci/test.gitlab-ci.yml
Due: none

Catch writing to file that's executing exception
  lib/runit/config.rb
Due: none

Only write files if they content is different
  lib/runit/config.rb
Due: none

Ensure print/puts from GDK::Output can be hidden
  spec/spec_helper.rb
Due: none

Add Container Registry instructions for Colima
  doc/howto/registry.md
Due: none

Mention insecure-registries needs to be configured in .gitlab-ci.yml
  doc/howto/registry.md
Due: none

Add macOS caveats for Container Registry setup
  doc/howto/registry.md
Due: none

Temporarily disable checking exiftool
  lib/gdk/dependencies/checker.rb
Due: none

Simplify CI process on deploy-gitpod-workspace-image
  .gitlab/ci/deploy.gitlab-ci.yml
Due: none

ci: Use the relative path for BUNDLE_PATH
  .gitlab-ci.yml
Due: none

Update Ruby dependencies
  Gemfile
  Gemfile.lock
Due: none

Update bundler to v2.3.15
  Gemfile.lock
Due: none

Add example object storage entry to geo secondary config
  doc/howto/geo.md
Due: none

Use asdf v0.10.1
  support/bootstrap
Due: none

Simplify local Container Registry howto
  doc/howto/registry.md
Due: none

Need Node.js 16.15.0 and Ruby 2.7.6
  .tool-versions
Due: verify-asdf-combine

Add yamllint to the brewfile
  Brewfile
Due: none

Auto install yamllint for support platforms
  packages_debian.txt
  packages_fedora.txt
  packages_ubuntu.txt
Due: none

Specify major-minor to TargetRubyVersion for RuboCop
  .rubocop-gdk.yml
Due: none

Update Redis 6 to 6.2.7
  .tool-versions
  .tool-versions-gdk
Due: verify-asdf-combine

Add Redis 6.2.7 as a dependency
  .tool-versions
  .tool-versions-gdk
Due: verify-asdf-combine

Re-enable exiftool check with additional help
  lib/gdk/dependencies/checker.rb
Due: none

Use asdf v0.10.2
  support/bootstrap
Due: none

Add .tool-versions to Docker build image
  support/gitpod/Dockerfile
Due: build-gitpod-workspace-image

Build MR2627
  .gitlab/ci/build.gitlab-ci.yml
  support/gitpod/docker-build
Due: build-gitpod-workspace-image

docs: Remove troubleshooting for Ruby 2.3 or earlier
  doc/troubleshooting/ruby.md
Due: none

Append gitlabhq_development_ci to how it works in troubleshooting PG
  doc/troubleshooting/postgresql.md
Due: none

Use pg version 12 in troubleshooting PG
  doc/troubleshooting/postgresql.md
Due: none

Use pg 1.3.5 gem in troubleshooting
  doc/troubleshooting/postgresql.md
Due: none

Use number of CPUs instead of hardcoding/nproc
  lib/gdk/command/pristine.rb
  spec/lib/gdk/command/pristine_spec.rb
  support/bundle-install
  support/makefiles/Makefile.gitaly.mk
Due: none

New restrict_cpu_count setting
  gdk.example.yml
  lib/gdk/config.rb
  lib/gdk/config_example.rb
  spec/lib/gdk/config_spec.rb
  support/templates/makefiles/gdk-config.mk.erb
Due: none

Rename root_path to ROOT_PATH
  support/bootstrap-common.sh
Due: none

Run configure_ruby_bundler in subshell in gitlab/
  support/bootstrap-common.sh
Due: none

Use BASH_SOURCE over 0 as we're a sourced file
  support/bootstrap-common.sh
Due: none

Rename to configure_ruby_bundler_for_gitlab
  support/asdf-update
  support/bootstrap
  support/bootstrap-common.sh
  support/makefiles/Makefile.gitlab.mk
Due: none

Tweaks to allow easier debugging
  support/gitpod/Dockerfile
  support/gitpod/docker-build
Due: build-gitpod-workspace-image

Send CI_COMMIT_SHA into 'docker build ..'
  support/gitpod/Dockerfile
  support/gitpod/bootstrap-gitpod-image.sh
  support/gitpod/docker-build
Due: build-gitpod-workspace-image

Allow Gitpod image generation to use MR branch
  support/gitpod/bootstrap-gitpod-image.sh
Due: build-gitpod-workspace-image
